*.py[co]
.env
/.idea/
.DS_Store
Thumbs.db
.xls
atlassian-ide-plugin.xml
__db.celerybeat-schedule

/virtualenv/*
/src/reports/*
/reports/*
/src/media/*
!/media/README.txt

/src/static/*
!/static/README.txt

/bundles/*
!/bundles/README.txt

/src/src/local_settings.py
